.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgba(0, 0, 0, 0.587);
    border-radius: 11px;
    margin: 19px;
}

.form input {
    outline: none;    
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-family: "Poppins";
}

.form button {    
    background: #0800ff;
    border: 3px solid #0800ff;
    border-radius: 0px 9px 9px 0px;
    color: #FFF;
    font-family: "Poppins";
    padding: 5px 20px;
    transition: all 0.3s;
}